@font-face {
  font-family: 'Open Sans Condensed';
  // Font URLs are injected when building the final HTML
  src: url('/__opensans-condensedbold.woff2__') format('woff2'), url('/__opensans-condensedbold.woff__') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  // Font URLs are injected when building the final HTML
  src: url('/__opensans-regular.woff2__') format('woff2'), url('/__opensans-regular.woff__') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$fontTitle: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, sans-serif;
$fontBody: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
