.offline-message-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.88);
}
.offline-message-window {
  position: absolute;
  width: 400px;
  background: #ffffff;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin: 0 0 0 -200px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.offline-message-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #262626;
  margin: 0 0 10px;
  position: relative;
}
.offline-message-icon::after {
  content: ' ';
  display: block;
  width: 18px;
  height: 9px;
  border-left: 5px solid #262626;
  border-bottom: 5px solid #262626;
  position: absolute;
  top: 16px;
  left: 14px;
  transform: rotate(-45deg);
}
[data-js-offline-error] .offline-message-icon::before,
[data-js-offline-error] .offline-message-icon::after {
  content: ' ';
  display: block;
  width: 26px;
  height: 4px;
  background: #262626;
  position: absolute;
  border: 0;
}
[data-js-offline-error] .offline-message-icon::before {
  top: 23px;
  left: 12px;
  transform: rotate(-45deg);
}
[data-js-offline-error] .offline-message-icon::after {
  top: 23px;
  left: 12px;
  transform: rotate(45deg);
}
.offline-message-content {
  width: 100%;
  margin: 0 0 15px;
  font-family: Open Sans, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  color: #262626;
  line-height: 24px;
}
.offline-message-button {
  height: 36px;
  background: #262626;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  font-family: $fontTitle;
  text-transform: uppercase;
  padding: 0 14px 0 14px;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .offline-message-window {
    width: 280px;
    margin: 0 0 0 -140px;
    padding: 15px;
  }
  .offline-message-icon {
    margin: 0 0 5px 0;
  }
  .offline-message-content {
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 10px;
  }
  .offline-message-button {
    height: 34px;
    font-size: 15px;
    padding: 0 12px 0 12px;
  }
}
