html,
body,
div,
img,
input,
h1,
h2,
h3,
span,
p,
a,
button,
table,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $fontBody;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: transparent;
}
html,
body {
  background: #000000;
}
input,
select,
textarea,
button {
  font-family: inherit;
}
