.topbar {
  width: 100%;
  height: 60px;
  padding: 14px 28px 0 28px;
  box-sizing: border-box;
  background: #ffcf20;
  position: fixed;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.topbar-title {
  position: relative;
  display: inline-block;
  height: 32px;
  line-height: 0;
  font-family: $fontTitle;
  margin: 0 24px 0 0;
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-shadow: 0 1px 0 #ffe37e;
  color: #000;
  text-decoration: none;
  padding: 16px 0 0 0;
  border-radius: 5px;
}
.topbar-title--current {
  padding: 16px 10px 0 8px;
  background: #262626;
  color: #ffffff;
  text-shadow: none;
}
.topbar-title-count {
  font-family: inherit;
  opacity: 0.6;
}
.topbar-search {
  float: right;
  position: relative;
  width: 300px;
}
.topbar-search-input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 32px;
  border: 0;
  background: #262626;
  border-radius: 5px;
  text-indent: 16px;
  font-size: 13px;
  color: #ffffff;
}
.topbar-search-help {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
  line-height: 80px;
}
.topbar-search-help::after {
  position: absolute;
  content: '?';
  display: block;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 8px;
  background: #7a7a7a;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  border-radius: 50%;
  opacity: 0.5;
}
.topbar-search-toggle {
  display: none;
  position: absolute;
  top: 12px;
  right: 18px;
  width: 31px;
  height: 31px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  cursor: pointer;
}
[data-js-search-hidden] .topbar-search-toggle {
  top: 11px;
  transform: rotate(225deg);
}
.topbar-search-toggle::before,
.topbar-search-toggle::after {
  top: 11px;
  left: 11px;
  position: absolute;
  content: ' ';
  display: block;
  background: #000000;
}
.topbar-search-toggle::before {
  width: 3px;
  height: 12px;
}
.topbar-search-toggle::after {
  width: 12px;
  height: 3px;
}

@media screen and (max-width: 650px) {
  .topbar {
    height: 52px;
    padding: 10px 15px 0 15px;
  }
  .topbar-search-toggle {
    display: block;
  }
  .topbar--search {
    height: 95px;
  }
  [data-js-search-hidden] .topbar--search {
    height: 52px;
  }
  [data-js-search-hidden] .topbar-search {
    display: none;
  }
  .topbar-title {
    margin: 0 14px 0 0;
  }
  .topbar-search {
    width: 100%;
    margin: 10px 0 0 0;
  }
}
